.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(130, 123, 123);
}

.App-html {
  white-space: pre-wrap;
}
